.PERSON{
  background-color: pink;
}

.LOCATION{
background-color: #66CDAA;
}

.ORGANIZATION{
background-color: #FF8C00;
}

.button-container{
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
}

.top-text-box{
  /*position: block;*/
  z-index: 1001;
}

.text-box{
  position: block;
  padding: 10px 10px 10px 10px;
  margin: 3em 3em 2em 2em;
  text-align: justify;
  font-family: Helvetica, Arial, Tahoma;
  line-height: 155%;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 4px;
}
